extends layout

block content
  .hidden(id='dataset')
    .jumbotron
      .container
        .row
          .col-sm-9
            .hidden(id='paginator')
          .col-sm-3(id='recs')
        .row(id='header')
          .col-sm-3
            |<button id="a" type="button" class="btn btn-primary">Колонка A</button>
          .col-sm-3
            |<button id="b" type="button" class="btn btn-info">Колонка B</button>
          .col-sm-3
            |<button id="c" type="button" class="btn btn-info">Колонка C</button>
          .col-sm-3
