extends layout

block content
  .container
    .hidden(id='dataset')
      .jumbotron
        .container
          .row(id='header')
            .col-sm-3
              Strong column 'A'
            .col-sm-3
              Strong column 'B'
            .col-sm-3
              Strong column 'C'
            .col-sm-3(id='recs')
