extends layout

block content
  .hidden(id='dataset')
    .jumbotron
      .container
        .row
          .col-sm-9
            .hidden(id='paginator')
          .col-sm-3(id='recs')
        .row(id='header')
          .col-sm-3
            Strong column 'A'
          .col-sm-3
            Strong column 'B'
          .col-sm-3
            Strong column 'C'
          .col-sm-3
